.container {
    text-align: center;
    display: flex;
    justify-content: center;
   
   
   
  }

  

  .login{
    min-width: 6.5rem;
    margin: 150px auto;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 20px;
  }

  .espaco{
    margin-bottom: 20px;
  }

  
  